* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* BODY */
body {
  background-color: #1b1b1b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-image: radial-gradient(circle at 20% 20%, rgba(255, 215, 0, 0.07), transparent 60%),
                    radial-gradient(circle at 80% 80%, rgba(255, 215, 0, 0.07), transparent 60%);
  padding: 80px 20px; }

/*Centering the Registered form*/
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/* Card style box with glow */
.register-card, .pass-reset-card, .code-verification-card,.reset-password-card {
  background-color: #2a2a2a;
  border-radius: 16px;
  padding: 45px 40px;
  width: 400px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.15);
  transition: 0.3s ease;
}

.register-card:hover {
  box-shadow: 0 0 35px rgba(255, 215, 0, 0.25);
}


.register-card::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 2px;
  background: linear-gradient(135deg, rgba(255, 215, 0, 0.4), rgba(255, 255, 255, 0.05));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

/* Heading */
.pass-reset-card h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 8px;
  text-shadow: 0 0 6px rgba(255, 215, 0, 0.3);
}

.subtitle {
  font-size: 0.95rem;
  color: #bbb;
  margin-bottom: 30px;
}

/* Form layout */
.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #3d3d3d;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 0.95rem;
  outline: none;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #ffd700;
  box-shadow: 0 0 6px #ffd700;
}

/* Main Register Button */
.btn-primary {
  background-color: #ffd700;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-primary:hover {
  background-color: #ffe44c;
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.4);
}


/*back button*/
.btn-back {
  color: #fff;
  text-decoration: none;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
}

.btn-back:hover{
background-color: #555;
}



